

body{
	background: #000000;
	
}

.plugspire_slidepics_motion,
.plugspire_slidepics_motion:after {
	z-index: 0;
	position: fixed;
	top: 0px;
    left: 0px;
    z-index: 0;
    width: 100%;
    height: 100%;
}
.plugspire_slidepics_motion:after {
	background: transparent url(../images/cathode_ray.png) repeat top left;
	content: '';
}
.plugspire_slidepics_motion p span {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
	z-index: 0;
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    /* Standard syntax */  /* PLUGSPIRE CONFIG */
    animation-name: PLUGSPIRE_inertia_motion;
    animation-duration: 20s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction:normal;
	animation-fill-mode:none;
	animation-play-state:play;

    /* Chrome, Safari, Opera */  /* PLUGSPIRE CONFIG */
        -webkit-animation-name: PLUGSPIRE_inertia_motion;
		-webkit-animation-duration: 20s;
		-webkit-animation-delay: 0s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-direction:normal;
		-webkit-animation-fill-mode:none;
		-webkit-animation-play-state:play;	

}

.plugspire_slidepics_motion p:nth-child(1) span { 
	background-image: url(../images/1.jpg) }
.plugspire_slidepics_motion p:nth-child(2) span {
    background-image: url(../images/2.jpg);
    animation-delay: 5s;
}
.plugspire_slidepics_motion p:nth-child(3) span {
    background-image: url(../images/3.jpg);
    animation-delay: 10s;
}
.plugspire_slidepics_motion p:nth-child(4) span {
    background-image: url(../images/4.jpg);
    animation-delay: 15s;
}


 /* Standard syntax */  /* PLUGSPIRE CONFIG */
@keyframes PLUGSPIRE_inertia_motion { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	7% {
		opacity: 1;
		transform: scale(1.05);
		animation-timing-function: ease-out;
	}
	18% {
		opacity: 1;
		transform: scale(1.1);
	}
	30% {
		opacity: 0;
		transform: scale(1.1) translateX(-50%);
	}
	70% {
		opacity: 0;
		transform: scale(1.1) translateX(-50%);
	}
	85% {
	    opacity: 0;
	    transform: scale(1.1) translateX(-100%);
	}
	95% {
	    opacity: 0;
	    transform: scale(1.1) translateX(-100%);
	}
	100% {
		opacity: 0;
	}

}
    /* Chrome, Safari, Opera */  /* PLUGSPIRE CONFIG */
@-webkit-keyframes PLUGSPIRE_inertia_motion {
	0% {
	    opacity: 0;
	    -webkit-animation-timing-function: ease-in;
	}
	7% {
		opacity: 1;
		-webkit-transform: scale(1.05);
		-webkit-animation-timing-function: ease-out;
	}
	18% {
		opacity: 1;
		-webkit-transform: scale(1.1);
	}
	30% {
		opacity: 0;
		-webkit-transform: scale(1.1) translateX(-50%);
	}
	70% {
		opacity: 0;
		-webkit-transform: scale(1.1) translateX(-50%);
	}
	85% {
	    opacity: 0;
	    -webkit-transform: scale(1.1) translateX(-100%);
	}
	95% {
	    opacity: 0;
	    -webkit-transform: scale(1.1) translateX(-100%);
	}
	100% {
		opacity: 0;
	}

}




